@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    
    width: 100vh;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Dancing Script', cursive;

}
.math-games{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgb(53, 53, 53);
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input{
    border: dashed rgb(43, 43, 43);
    outline: none;
    border-radius: 5px;
    background: none;
}
.blue{
    color: blue;
}
.red{
    color: red;
}
.math-games span{
    font-size: 40px;
    
}
button{
    border: none;
    background: rgb(13 189 65);
    font-size: 20px;
    border-radius: 20px;
}
button:hover{
    cursor: pointer;
}
.items{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
.modal-container{
    position: absolute;
    right: 50px;
    bottom: 40px;
    font-family: 'Lora', serif;
    width: 250px;
    height: 100px;
    border: 1px solid black;
    border-radius: 60px 60px 0 60px;
    background: red;
    color: aliceblue;
    font-weight: bold;
    align-items: center;
    box-shadow: 2px 2px 2px gray;
    display: none;
}
.close{
    position: absolute;
    top: 0;
    right: 200px;
    font-size: 35px;
    color: white;
}
.close:hover{
    cursor: pointer;
}
.theAnswer{
    position: absolute;
    top: 35px;
    right: 90px;
}
.modal-container p{
    right: 50px;
}